<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- ---------- NAVBAR ---------- -->
    <nav class="navbar">
        <div class="navbar-left">
            Welcome, {{ session['user'] }} 👋
        </div>
        <div class="navbar-right">
            <a href="/logout" class="logout-btn">Logout</a>
        </div>
    </nav>

    <div class="container">
        <h1>💰 Expense Tracker</h1>
        <p class="subtitle">
            Track your daily expenses and manage your expense smartly</P>

        <div class="buttons">
            <a href="/add" class="btn primary">➕ Add Expense</a><br>
            <a href="/expenses" class="btn secondary">View Expenses</a><br>          
        </div>
    </div>

</body>
</html>
