<!DOCTYPE html>
<html>
<head>
    <title>Past Month Expenses</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h2>Past Month Expense Summary</h2>

    <div class="total-box">
        <h3>Total Expense</h3>
        <p>₹ {{ total }}</p>
    </div>

    <table>
        <tr>
            <th>Title</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>

        {% for expense in expenses %}
        <tr>
            <td>{{ expense[0] }}</td>
            <td>₹ {{ expense[1] }}</td>
            <td>{{ expense[2] }}</td>
        </tr>
        {% endfor %}

    </table>

</div>

</body>
</html>
